



.books__item:hover .books__item__info {
visibility:visible;
}

.books__item__info-authors,.books__item__info-add {
display:block;
line-height:1.2;
text-align:left;
padding:5px 5px 5px 10px;
}

.books__item__info_bottom .button-container {
margin:5px 0 0;
}


.books__item {
position:relative;
width:128px;
max-width:128px;
border:1px solid #ddd4c9;
background:#fff;
font-family:Georgia;
z-index:auto!important;
word-wrap:break-word;
display: inline-block;
}

.books__item:before {
content:'';
display:block;
position:absolute;
bottom:0;
left:-12px;
background:url(/img/book-shadow.8799f2094090.png) no-repeat 0 0;
background-size:200% 100%;
width:12px;
height:100%;
overflow:hidden;
}

.books__item:after {
content:'';
display:block;
position:absolute;
bottom:0;
right:-12px;
background:url(/img/book-shadow.8799f2094090.png) no-repeat -12px 0;
background-size:200% 100%;
width:12px;
height:100%;
overflow:hidden;
}

.books__item__info {
visibility:hidden;
display:block;
position:absolute;
top:0;
left:0;
width:100%;
height:98%;
background: none repeat scroll 0 0 rgba(32, 32, 32, 0.9);
padding-top:5px;
font-size:80%;
color:#fff;
}


.books__item__info a:link,.books__item__info a:visited {
color:#fff;
text-decoration:none;
}

.books__item__info .books__item__info-add {
position:relative;
margin-top:.1em;
font-size:89%;
padding:5px 5px 1px 37px;
}

.books__item__info .books__item__info-add a.alt1.pseudo_link {
text-decoration:none;
color:#fff;
border-bottom:1px dotted rgba(255,255,255,0.5)!important;
}

.books__item__info .books__item__info-add a.alt1.pseudo_link:hover {
color:#fff;
text-decoration:none;
border-bottom:1px dotted rgba(255,255,255,0.8)!important;
}

.books__item__info_bottom {
position:absolute;
bottom:5px;
text-align:center;
z-index:3;
margin-bottom:10px;
}

.books__item__info-name {
display:block;
text-align:left;
font-size:110%;
line-height:1.1;
font-weight:400;
padding:5px 10px;
}

.books__item__info-name a,.books__item__info-authors a,.books__item__info-add a,.books__item__info-add ins {
position:relative;
z-index:3;
}

.books__item__info-authors {
font-size:90%;
padding:0 10px 5px;
}

.books__item__info-authors a:link,.books__item__info-authors a:visited {
color:#F7E1D3;
text-decoration:none;
}


.books__item__info-add a.alt1.pseudo_link,.books__item__info-add .alt1 {
font-family:Story,"Trebuchet MS",Arial,sans-serif;
}








.books__item__info a:hover,.books__item__info-authors a:hover {
color:#faca2c;
text-decoration:underline;
}

.books__item__info a:active,.books__item__info-authors a:active {
color:#fff;
text-decoration:underline;
}

.size1 {
font-size:14px;
}



.books__item__info_bottom a {
text-decoration:none;
}

.button-container-bg {
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
-moz-transition:0 .3s;
-webkit-transition:0 .3s;
-o-transition:box-shadow .3s;
transition:box-shadow .3s;
-webkit-border-radius:100px;
-moz-border-radius:100px;
border-radius:100px;
}

.button-container-bg .button {
background-image:url(/img/button-bg.97a68ac32d82.png);
overflow:hidden;
}