
    * {
    margin: 0;
    }
    html, body {
    height: 100%;
    }
    .wrapper {
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -285px;
    }
    .footer, .push {
    height: 285px;
clear: both;
    }
