body {
	font-family: 'Ubuntu',arial;
	font-style: normal;
	font-size:	  13px;
	background-color: #000;

    padding: 0px; margin: 0px;
	color:#000;
}
.header {
	display: block; width: 100%; height:53px;
	background-repeat: repeat-x, no-repeat;
	background-position: center center;
	background-size: auto, cover;   
	background-image: url(../img/bg_top.png), url(../img/light.png);
	box-shadow: 0 0 21px #181818;
	position: fixed; z-index: 9999;
}
.title_td {
	color: #fff; padding-left: 30px; font-size: 28px;
	padding-top:10px; padding-bottom: 10px;
}
.top_menu {
	list-style: none;
	padding:0px; margin:0px; padding-right: 10px;
}
.top_menu li {
	float: right; padding-left:10px; padding-right:10px;
}
.top_menu .link {
	padding-top:17px;
}
.top_menu a {
	color: #fff; font-family: 'Ubuntu';
	font-size: 16px;
	text-decoration: none;
	border-bottom: 0.95px dashed #fff;
}
.top_menu a:hover {
	border-bottom: 0.95px solid transparent;
	color:#EE9344;
}
.body {
	background: #FFFFFF; display:block;
	width: 980px; height: 800px; box-shadow: 0 0 20px #4c4c4c;
	margin: 40px;
}
.footer {
	background-image: url('../img/bg_footer.png'), url('../img/footer_light.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	background-size: auto, auto; 
	display: block; width: 100%; height: 285px;
	box-shadow: 0 0 20px #3c3c3c; color: #fff;
	position: relative;
	
}
.footer, .push {
 height: 285px;
}
.footer_title {
	font-size: xx-large;
}
.footer_menu {
	list-style: none; padding:0px; margin:0px; float:right;
	padding-right: 35px;
}
.footer_menu li {
	padding:0px; margin:8px 5px; text-align:right;
}
.footer_menu li a {
	color: #fff; font-size: 16px;
	text-decoration: none;
	border-bottom: 0.96px dashed #fff;
}
.footer_menu a:hover {
	border-bottom: 0.95px solid transparent;
	color:#EE9344;
}
.feed_input {
	background: url('../img/bg_feed.png') repeat-x;
	height: 23px; width: 200px; display: block;
	padding: 2px; border:0px; font-weight: bold;
	margin: 2px;
}
.feed_input:focus {
	background: url('../img/bg_feed_focus.png') repeat-x;
}
.feed_input:hover {
	box-shadow: inset 0px 0px 8px #fff;
}
.feed_textarea {
	background: url('../img/bg_feed_textarea.png') repeat;
	height: 60px; width: 200px; display: block;
	padding: 2px; border:0px; font-weight: bold;
	margin: 2px;
}
.feed_textarea:hover {
	box-shadow: inset 0px 0px 8px #fff;
}
.feed_textarea:focus {
	background: url('../img/bg_feed_textarea_focus.png') repeat;
}

.feed_button {
	color: #fff; background: #242424; padding:5px; border: 1px solid #414141;
	cursor: pointer; border-radius: 5px; display: block; float: right; margin: 2px;
}

@font-face {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/entypo/entypo.eot');
  src: url('../fonts/entypo/entypo.eot?#iefix') format('eot'), url('../fonts/entypo/entypo.woff') format('woff'), url('../fonts/entypo/entypo.ttf') format('truetype'), url('../fonts/entypo/entypo.svg#entypo') format('svg');
}
/* Sidebar */
.entypo-settings:before {
	content: "\2699";
}
.entypo-note:before {
  content: "\266a";
}
.entypo-note-beamed:before {
  content: "\266b";
}
.entypo-music:before {
  content: "\1f3b5";
}
.entypo-search:before {
  content: "\1f50d";
}
.entypo-flashlight:before {
  content: "\1f526";
}
.entypo-mail:before {
  content: "\2709";
}
.entypo-heart:before {
  content: "\2665";
}
.entypo-heart-empty:before {
  content: "\2661";
}
.entypo-star:before {
  content: "\2605";
}
.entypo-star-empty:before {
  content: "\2606";
}
.entypo-user:before {
  content: "\1f464";
}
.entypo-users:before {
  content: "\1f465";
}
.entypo-user-add:before {
  content: "\e700";
}
.entypo-video:before {
  content: "\1f3ac";
}
.entypo-picture:before {
  content: "\1f304";
}
.entypo-camera:before {
  content: "\1f4f7";
}
.entypo-layout:before {
  content: "\268f";
}
.entypo-menu:before {
  content: "\2630";
}
.entypo-check:before {
  content: "\2713";
}
.entypo-cancel:before {
  content: "\2715";
}
.entypo-cancel-circled:before {
  content: "\2716";
}
.entypo-cancel-squared:before {
  content: "\274e";
}
.entypo-plus:before {
  content: "\2b";
}
.entypo-plus-circled:before {
  content: "\2795";
}
.entypo-plus-squared:before {
  content: "\229e";
}
.entypo-minus:before {
  content: "\2d";
}
.entypo-minus-circled:before {
  content: "\2796";
}
.entypo-minus-squared:before {
  content: "\229f";
}
.entypo-help:before {
  content: "\2753";
}
.entypo-help-circled:before {
  content: "\e704";
}
.entypo-info:before {
  content: "\2139";
}
.entypo-info-circled:before {
  content: "\e705";
}
.entypo-back:before {
  content: "\1f519";
}
.entypo-home:before {
  content: "\2302";
}
.entypo-link:before {
  content: "\1f517";
}
.entypo-attach:before {
  content: "\1f4ce";
}
.entypo-lock:before {
  content: "\1f512";
}
.entypo-lock-open:before {
  content: "\1f513";
}
.entypo-eye:before {
  content: "\e70a";
}
.entypo-tag:before {
  content: "\e70c";
}
.entypo-bookmark:before {
  content: "\1f516";
}
.entypo-bookmarks:before {
  content: "\1f4d1";
}
.entypo-flag:before {
  content: "\2691";
}
.entypo-thumbs-up:before {
  content: "\1f44d";
}
.entypo-thumbs-down:before {
  content: "\1f44e";
}
.entypo-download:before {
  content: "\1f4e5";
}
.entypo-upload:before {
  content: "\1f4e4";
}
.entypo-upload-cloud:before {
  content: "\e711";
}
.entypo-reply:before {
  content: "\e712";
}
.entypo-reply-all:before {
  content: "\e713";
}
.entypo-forward:before {
  content: "\27a6";
}
.entypo-quote:before {
  content: "\275e";
}
.entypo-code:before {
  content: "\e714";
}
.entypo-export:before {
  content: "\e715";
}
.entypo-pencil:before {
  content: "\270e";
}
.entypo-feather:before {
  content: "\2712";
}
.entypo-print:before {
  content: "\e716";
}
.entypo-retweet:before {
  content: "\e717";
}
.entypo-keyboard:before {
  content: "\2328";
}
.entypo-comment:before {
  content: "\e718";
}
.entypo-chat:before {
  content: "\e720";
}
.entypo-bell:before {
  content: "\1f514";
}
.entypo-attention:before {
  content: "\26a0";
}
.entypo-alert:before {
  content: "\1f4a5";
}
.entypo-vcard:before {
  content: "\e722";
}
.entypo-address:before {
  content: "\e723";
}
.entypo-location:before {
  content: "\e724";
}
.entypo-map:before {
  content: "\e727";
}
.entypo-direction:before {
  content: "\27a2";
}
.entypo-compass:before {
  content: "\e728";
}
.entypo-cup:before {
  content: "\2615";
}
.entypo-trash:before {
  content: "\e729";
}
.entypo-doc:before {
  content: "\e730";
}
.entypo-docs:before {
  content: "\e736";
}
.entypo-doc-landscape:before {
  content: "\e737";
}
.entypo-doc-text:before {
  content: "\1f4c4";
}
.entypo-doc-text-inv:before {
  content: "\e731";
}
.entypo-newspaper:before {
  content: "\1f4f0";
}
.entypo-book-open:before {
  content: "\1f4d6";
}
.entypo-book:before {
  content: "\1f4d5";
}
.entypo-folder:before {
  content: "\1f4c1";
}
.entypo-archive:before {
  content: "\e738";
}
.entypo-box:before {
  content: "\1f4e6";
}
.entypo-rss:before {
  content: "\e73a";
}
.entypo-phone:before {
  content: "\1f4dE";
}
.entypo-cog:before {
  content: "\2699";
}
.entypo-tools:before {
  content: "\2692";
}
.entypo-share:before {
  content: "\e73c";
}
.entypo-shareable:before {
  content: "\e73e";
}
.entypo-basket:before {
  content: "\e73d";
}
.entypo-bag:before {
  content: "\1f45c'";
}
.entypo-calendar:before {
  content: "\1f4c5";
}
.entypo-login:before {
  content: "\e740";
}
.entypo-logout:before {
  content: "\e741";
}
.entypo-mic:before {
  content: "\1f3a4";
}
.entypo-mute:before {
  content: "\1f507";
}
.entypo-sound:before {
  content: "\1f50a";
}
.entypo-volume:before {
  content: "\e742";
}
.entypo-clock:before {
  content: "\1f554";
}
.entypo-hourglass:before {
  content: "\23f3";
}
.entypo-lamp:before {
  content: "\1f4a1";
}
.entypo-light-down:before {
  content: "\1f505";
}
.entypo-light-up:before {
  content: "\1f506";
}
.entypo-adjust:before {
  content: "\25d1";
}
.entypo-block:before {
  content: "\1f6ab";
}
.entypo-resize-full:before {
  content: "\e744";
}
.entypo-resize-small:before {
  content: "\e746";
}
.entypo-popup:before {
  content: "\e74c";
}
.entypo-publish:before {
  content: "\e74d";
}
.entypo-window:before {
  content: "\e74e";
}
.entypo-arrow-combo:before {
  content: "\e74f";
}
.entypo-down-circled:before {
  content: "\e758";
}
.entypo-left-circled:before {
  content: "\e759";
}
.entypo-right-circled:before {
  content: "\e75a";
}
.entypo-up-circled:before {
  content: "\e75b";
}
.entypo-down-open:before {
  content: "\e75c";
}
.entypo-left-open:before {
  content: "\e75d";
}
.entypo-right-open:before {
  content: "\e75e";
}
.entypo-up-open:before {
  content: "\e75f";
}
.entypo-down-open-mini:before {
  content: "\e760";
}
.entypo-left-open-mini:before {
  content: "\e761";
}
.entypo-right-open-mini:before {
  content: "\e762";
}
.entypo-up-open-mini:before {
  content: "\e763";
}
.entypo-down-open-big:before {
  content: "\e764";
}
.entypo-left-open-big:before {
  content: "\e765";
}
.entypo-right-open-big:before {
  content: "\e766";
}
.entypo-up-open-big:before {
  content: "\e767";
}
.entypo-down:before {
  content: "\2b07";
}
.entypo-left:before {
  content: "\2b05";
}
.entypo-right:before {
  content: "\27a1";
}
.entypo-up:before {
  content: "\2b06";
}
.entypo-down-dir:before {
  content: "\25be";
}
.entypo-left-dir:before {
  content: "\25c2";
}
.entypo-right-dir:before {
  content: "\25b8";
}
.entypo-up-dir:before {
  content: "\25b4";
}
.entypo-down-bold:before {
  content: "\e4b0";
}
.entypo-left-bold:before {
  content: "\e4ad";
}
.entypo-right-bold:before {
  content: "\e4ae";
}
.entypo-up-bold:before {
  content: "\e4af";
}
.entypo-down-thin:before {
  content: "\2193";
}
.entypo-left-thin:before {
  content: "\2190";
}
.entypo-right-thin:before {
  content: "\2192";
}
.entypo-up-thin:before {
  content: "\2191";
}
.entypo-ccw:before {
  content: "\27f2";
}
.entypo-cw:before {
  content: "\27f3";
}
.entypo-arrows-ccw:before {
  content: "\1f504";
}
.entypo-level-down:before {
  content: "\21b3";
}
.entypo-level-up:before {
  content: "\21b0";
}
.entypo-shuffle:before {
  content: "\1f500";
}
.entypo-loop:before {
  content: "\1f501";
}
.entypo-switch:before {
  content: "\21c6";
}
.entypo-play:before {
  content: "\25b6";
}
.entypo-stop:before {
  content: "\25a0";
}
.entypo-pause:before {
  content: "\2389";
}
.entypo-record:before {
  content: "\26ab";
}
.entypo-to-end:before {
  content: "\23ed";
}
.entypo-to-start:before {
  content: "\23ee";
}
.entypo-fast-forward:before {
  content: "\23e9";
}
.entypo-fast-backward:before {
  content: "\23ea";
}
.entypo-progress-0:before {
  content: "\e768";
}
.entypo-progress-1:before {
  content: "\e769";
}
.entypo-progress-2:before {
  content: "\e76a";
}
.entypo-progress-3:before {
  content: "\e76b";
}
.entypo-target:before {
  content: "\1f3af";
}
.entypo-palette:before {
  content: "\1f3a8";
}
.entypo-list:before {
  content: "\e005";
}
.entypo-list-add:before {
  content: "\e003";
}
.entypo-signal:before {
  content: "\1f4f6";
}
.entypo-trophy:before {
  content: "\1f3c6";
}
.entypo-battery:before {
  content: "\1f50b";
}
.entypo-back-in-time:before {
  content: "\e771";
}
.entypo-monitor:before {
  content: "\1f4bb";
}
.entypo-mobile:before {
  content: "\1f4f1";
}
.entypo-network:before {
  content: "\e776";
}
.entypo-cd:before {
  content: "\1f4bf";
}
.entypo-inbox:before {
  content: "\e777";
}
.entypo-install:before {
  content: "\e778";
}
.entypo-globe:before {
  content: "\1f30e";
}
.entypo-cloud:before {
  content: "\2601";
}
.entypo-cloud-thunder:before {
  content: "\26c8";
}
.entypo-flash:before {
  content: "\26a1";
}
.entypo-moon:before {
  content: "\263d";
}
.entypo-flight:before {
  content: "\2708";
}
.entypo-paper-plane:before {
  content: "\e79b";
}
.entypo-leaf:before {
  content: "\1f342";
}
.entypo-lifebuoy:before {
  content: "\e788";
}
.entypo-mouse:before {
  content: "\e789";
}
.entypo-briefcase:before {
  content: "\1f4bc";
}
.entypo-suitcase:before {
  content: "\e78e";
}
.entypo-dot:before {
  content: "\e78b";
}
.entypo-dot-2:before {
  content: "\e78c";
}
.entypo-dot-3:before {
  content: "\e78d";
}
.entypo-brush:before {
  content: "\e79a";
}
.entypo-magnet:before {
  content: "\e7a1";
}
.entypo-infinity:before {
  content: "\221e";
}
.entypo-erase:before {
  content: "\232b";
}
.entypo-chart-pie:before {
  content: "\e751";
}
.entypo-chart-line:before {
  content: "\1f4c8";
}
.entypo-chart-bar:before {
  content: "\1f4ca";
}
.entypo-chart-area:before {
  content: "\1f53e";
}
.entypo-tape:before {
  content: "\2707";
}
.entypo-graduation-cap:before {
  content: "\1f393";
}
.entypo-language:before {
  content: "\e752";
}
.entypo-ticket:before {
  content: "\1f3ab";
}
.entypo-water:before {
  content: "\1f4a6";
}
.entypo-droplet:before {
  content: "\1f4a7";
}
.entypo-air:before {
  content: "\e753";
}
.entypo-credit-card:before {
  content: "\1f4b3";
}
.entypo-floppy:before {
  content: "\1f4be";
}
.entypo-clipboard:before {
  content: "\1f4cb";
}
.entypo-megaphone:before {
  content: "\1f4e3";
}
.entypo-database:before {
  content: "\e754";
}
.entypo-drive:before {
  content: "\e755";
}
.entypo-bucket:before {
  content: "\e756";
}
.entypo-thermometer:before {
  content: "\e757";
}
.entypo-key:before {
  content: "\1f511";
}
.entypo-flow-cascade:before {
  content: "\e790";
}
.entypo-flow-branch:before {
  content: "\e791";
}
.entypo-flow-tree:before {
  content: "\e792";
}
.entypo-flow-line:before {
  content: "\e793";
}
.entypo-flow-parallel:before {
  content: "\e794";
}
.entypo-rocket:before {
  content: "\1f680";
}
.entypo-gauge:before {
  content: "\e7a2";
}
.entypo-traffic-cone:before {
  content: "\e7a3";
}
.entypo-cc:before {
  content: "\e7a5";
}
.entypo-cc-by:before {
  content: "\e7a6";
}
.entypo-cc-nc:before {
  content: "\e7a7";
}
.entypo-cc-nc-eu:before {
  content: "\e7a8";
}
.entypo-cc-nc-jp:before {
  content: "\e7a9";
}
.entypo-cc-sa:before {
  content: "\e7aa";
}
.entypo-cc-nd:before {
  content: "\e7ab";
}
.entypo-cc-pd:before {
  content: "\e7ac";
}
.entypo-cc-zero:before {
  content: "\e7ad";
}
.entypo-cc-share:before {
  content: "\e7ae";
}
.entypo-cc-remix:before {
  content: "\e7af";
}
.entypo-github:before {
  content: "\f300";
}
.entypo-github-circled:before {
  content: "\f301";
}
.entypo-flickr:before {
  content: "\f303";
}
.entypo-flickr-circled:before {
  content: "\f304";
}
.entypo-vimeo:before {
  content: "\f306";
}
.entypo-vimeo-circled:before {
  content: "\f307";
}
.entypo-twitter:before {
  content: "\f309";
}
.entypo-twitter-circled:before {
  content: "\f30a";
}
.entypo-facebook:before {
  content: "\f30c";
}
.entypo-facebook-circled:before {
  content: "\f30d";
}
.entypo-facebook-squared:before {
  content: "\f30e";
}
.entypo-gplus:before {
  content: "\f30f";
}
.entypo-gplus-circled:before {
  content: "\f310";
}
.entypo-pinterest:before {
  content: "\f312";
}
.entypo-pinterest-circled:before {
  content: "\f313";
}
.entypo-tumblr:before {
  content: "\f315";
}
.entypo-tumblr-circled:before {
  content: "\f316";
}
.entypo-linkedin:before {
  content: "\f318";
}
.entypo-linkedin-circled:before {
  content: "\f319";
}
.entypo-dribbble:before {
  content: "\f31b";
}
.entypo-dribbble-circled:before {
  content: "\f31c";
}
.entypo-stumbleupon:before {
  content: "\f31e";
}
.entypo-stumbleupon-circled:before {
  content: "\f31f";
}
.entypo-lastfm:before {
  content: "\f321";
}
.entypo-lastfm-circled:before {
  content: "\f322";
}
.entypo-rdio:before {
  content: "\f324";
}
.entypo-rdio-circled:before {
  content: "\f325";
}
.entypo-spotify:before {
  content: "\f327";
}
.entypo-spotify-circled:before {
  content: "\f328";
}
.entypo-qq:before {
  content: "\f32a";
}
.entypo-instagrem:before {
  content: "\f32d";
}
.entypo-dropbox:before {
  content: "\f330";
}
.entypo-evernote:before {
  content: "\f333";
}
.entypo-flattr:before {
  content: "\f336";
}
.entypo-skype:before {
  content: "\f339";
}
.entypo-skype-circled:before {
  content: "\f33a";
}
.entypo-renren:before {
  content: "\f33c";
}
.entypo-sina-weibo:before {
  content: "\f33f";
}
.entypo-paypal:before {
  content: "\f342";
}
.entypo-picasa:before {
  content: "\f345";
}
.entypo-soundcloud:before {
  content: "\f348";
}
.entypo-mixi:before {
  content: "\f34b";
}
.entypo-behance:before {
  content: "\f34e";
}
.entypo-google-circles:before {
  content: "\f351";
}
.entypo-vkontakte:before {
  content: "\f354";
}
.entypo-smashing:before {
  content: "\f357";
}
.entypo-sweden:before {
  content: "\f601";
}
.entypo-db-shape:before {
  content: "\f600";
}
.entypo-logo-db:before {
  content: "\f603";
}
* {
  font-family: 'Ubuntu', sans-serif;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* Parallax Background
 * TODO: Make Background Dynamic
 */
.background {
  background: url("../img/back.jpg") repeat;
  position: fixed;
  width: 100%;
  height: 300%;
  background-size:100%;
  background-repeat:no-repeat;
  top: 0;
  left: 0;
  z-index: -1
}

/* Navigation and misc */
#main-content {
  position: absolute;
  top:90px;
  left: 55px;
  right: 0px;
  height: 100%;
  padding: 10px;
}
#main-navigation {
  position: fixed;
  top: 40px;
  left: 0px;
  min-width: 5px;
  max-width: 55px;
  height: 100%;
  background-color: #F80;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index:9998;
  opacity: 0.95;
}
#main-navigation ul {
  list-style: none;
  padding: 0px;
}
#main-navigation ul li {
  white-space: nowrap;
}
#main-navigation ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #FFF;
  height: 55px;
  line-height: 55px;
  padding-right: 30px;
  width: 100%;
}
#main-navigation ul li a:before {
  display: inline-block;
  font-size: 25px;
  color: #FFF;
  width: 55px;
  text-align: center;
  line-height: 55px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#main-navigation ul li a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #F80; 
}
#main-navigation ul li a:hover:before {
  color: #F80;
}
#main-navigation ul li a.active-tab {
  background-color: #FFF;
  color: #F80;
}
#main-navigation ul li a.active-tab:before {
  color: #F80;
}
#main-navigation:hover {
  max-width: 220px;
  -webkit-box-shadow: 0 0 10px #995200;
  -moz-box-shadow: 0 0 10px #995200;
  box-shadow: 0 0 10px #995200;
}

/* Content */
.paper h1 {
 padding-left:10px; padding-bottom:5px;
margin: 0px;
}
.paper {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 990px;
  min-height: 700px;
  padding: 24px;
  position: relative;
  width: 100%; color:#000;
  line-height: 200%;
}

.paper:before, .paper:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.paper:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.paper:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}
.tbl_login td {
 padding: 5px; font-size:9pt;
}

/* MATERIAL BODY BIBLIOTEK */
.material {
 display:block; float:left;
 width:230px; height:440px;
 border:1px solid #ffe8c5;
 background:#fff8ee; margin:20px;
}
.title_book {
 color:#fff; font-size:large;
 display:block; width:auto; height:auto; padding:10px;
 background: #000; text-align:center;
}
.img_book {
 text-align:center; padding:5px;
}
.tools_book {
text-align:center; padding-left:20px;
}
.tools_book a {
 display: block; margin: 10px 10px; font-size:10pt;
 color: #fff; font-weight: bold; width:auto; text-decoration: none;
 background: #ff880d; float:left; padding-left:10px; padding-right:10px;
}
.tools_book a:hover {
 background: #000;
}
/* END BODY BIBLIOTEK */

.about_book td{
 padding:5px;
}
.about_book td span {
 font-size:12pt;
}
.annotation {
 font-style: italic;
 color: #7a5b5b;
}
.end_rating {
 display: block; width:98%;
 border-radius: 10px; background:#ffe4bb; padding:10px; margin:5px;
}
.rating {
 background:#fffbf6; border: 1px solid #ffe3c3; padding:10px; display: block; width:100%;
 height:90px;
}
.rating:hover {
 border:1px solid #fdcf9a;
}
.rating:focus {
 border:1px solid #ffb157; background:#fff5cd;
}
/* STYLE OF INPUT */
.log_form_input {
 background:#fffff0; border:1px solid #cdcdae;
 display:block; width: 150px; height:25px; padding:5px;
}
.log_form_input:hover {
background:#fbffad;
}
.log_form_input:focus {
background:#fbffad;
border: 1px solid #ff6744;
}

/*
 * INPUT SEARCH STYLE **
 */
.search_input {
	display:inline-block; padding:5px; width:200px; height:29px;
	font-size:14px; background:#343434; color:#fff; border:1px solid #212121;
}
.search_input:hover {
	background:#4d4d4d; border:1px solid #d89d8c;
}
.search_input:focus {
	background: #ffe0af; color:#000; border:1px solid #f13000;
}
.search_btn {
	display:inline-block; width:auto; padding:5px; background:#ff7840; color: #000;
	font-size:12px; font-weight: bold; border:1px solid #cc6033; cursor:pointer;
}
.search_btn:hover {
	background:#f16a33; color:#fff;
}

 #search_advice_wrapper{
            display:none;
            width: 350px;
            background-color: rgb(80, 80, 114);
            color: rgb(255, 227, 189);
            -moz-opacity: 0.95;
            opacity: 0.95;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
            filter:alpha(opacity=95);
            z-index:999;
            position: absolute;
            top: 24px; left: 0px;
        }
 
        #search_advice_wrapper .advice_variant{
            cursor: pointer;
            padding: 5px;
            text-align: left;
        }
        #search_advice_wrapper .advice_variant:hover{
            color:#FEFFBD;
            background-color:#818187;
        }
        #search_advice_wrapper .active{
            cursor: pointer;
            padding: 5px;
            color:#FEFFBD;
            background-color:#818187;
        }
        
         #searchFriends_advice_wrapper{
            display:none;
            width: 350px;
            background-color: rgb(80, 80, 114);
            color: rgb(255, 227, 189);
            -moz-opacity: 0.95;
            opacity: 0.95;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
            filter:alpha(opacity=95);
            z-index:999;
            position: absolute;
            top: 24px; left: 0px;
        }
 
        #searchFriends_advice_wrapper .advice_variant{
            cursor: pointer;
            padding: 5px;
            text-align: left;
        }
        #searchFriends_advice_wrapper .advice_variant:hover{
            color:#FEFFBD;
            background-color:#818187;
        }
        #searchFriends_advice_wrapper .active{
            cursor: pointer;
            padding: 5px;
            color:#FEFFBD;
            background-color:#818187;
        }
/* Всплывающие подсказки при регистрации */
*[hint] {
    position: relative;
}
*[hint]:hover:after {
  content: attr(hint);
  position: absolute;
  left: 4px;
  bottom: -20px;
  min-width: 100px;
  max-width: 200px;
  z-index: 100;
  background-color: #ff0;
  line-height: 16px;
  color: #006;
  padding: 4px;
}
	.table_profile {
			border: 1px solid #161614; display:block; border-radius:4px;
		}
			.top_profile_title {
				border-radius: 1px 1px 0 0;
				background: #161614; /* Old browsers */
				background: -moz-linear-gradient(top,  #161614 0%, #000000 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#161614), color-stop(100%,#000000)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #161614 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #161614 0%,#000000 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #161614 0%,#000000 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #161614 0%,#000000 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161614', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
				display:block;height:auto; width:100%; padding:5px; font-size:18px; font-weight: bold; color: #fff;

			}
			
			/*
			 * MENU PROFILE CSS
			 */
			.menu_profile {
				padding:0px; margin:0px; list-style:none;
			}
			.menu_profile li a {
				display:block;
				padding:10px;
				text-decoration:none;
				text-align:left;
				color: #3e3c38;
				background:#e9e0d2;
				border-bottom:1px solid #c88255;
			}
			.menu_profile li a:hover {
				color:#fff; background:#000; border-left: 4px solid #F72E2E;
				
			}
			.raiting_user {
				background: #6bba70;
				display:block; width:auto; margin:5px; border:1px solid green; padding:2px; color:#fff; font-weight:bold; border-radius:10px;
				cursor:help;

			}
			.menu_under_avatar {
				padding:0px; margin:0px; list-style:none;
			}
			.menu_under_avatar li a {
				color:#2F302C; font-size:11px; text-decoration:none;
				text-align:left; padding:5px; border-bottom: 1px solid #8b8b8b;
				background:#e9e0d2; display:block; width:100%;
			}
			.menu_under_avatar li a:hover {
				background:#000; color:#fff;
			}
			.books_row {
display: inline-block;
  
 width:130px;   height:200px;

}
.categories {
    list-style: none outside none;
    margin: 0;
    padding: 0 10px 0 0;
}
.categories li {
    float: none ;
    padding-top: 3px;
    padding-bottom: 3px;
}
.categories .link {
    padding-top: 10px;
}
.categories a {
    border-bottom: 0.95px dashed #000000;
    color: #000000;
    font-family: 'Ubuntu';
    font-size: 16px;
    text-decoration: none;
}
.categories a:hover {
    border-bottom: 0.95px solid rgba(0, 0, 0, 0);
    color: #EE9344;
}

.userbooks {
    list-style-type:none;
    margin: 0;
    padding: 0 10px 0 0;
}
.userbooks li {

    float: none ;
    padding-top: 3px;
    padding-bottom: 3px;
}
.userbooks .link {
    padding-top: 10px;
    border-bottom: 0.95px dashed #000000;
    color: #000000;
    font-family: 'Ubuntu';
    font-size: 16px;
    text-decoration: none;
}
.userbooks .link:hover {
    border-bottom: 0.95px solid rgba(0, 0, 0, 0);
    color: #EE9344;
}
