
.lineBookTabs{
	height:30px;
	list-style:none;
	margin:0px auto;
	padding:0px;
	padding-right:30px;
	padding-left:10px;
	width:100%;
}
.lineBookTabs li{
	display:block;
	float:right;
	margin:0px;
	padding:0px;
	position:relative;
	overflow:visible;
	text-align:center;
	width:110px;
}
.lineBookTabs li a{

	color:#dbdbdb;
	display:block;
	font:normal 14px Verdana;

	margin:0px -10px;
	outline:none;
	padding:7px 20px;
	position:relative;
	text-decoration:none;
	width:90px;
}
.lineBookTabs li a.activeBookTab{

	color:black;
	z-index:50;
}
.lineBookTabs li a:hover{

	color:red;
	z-index:30;
}
.contentBookTab{
	background:white;
	border:1px solid #4c9ac3;
	display:block;
	float:left;
	clear:left;
	height:auto;
	margin:0px;
	padding:10px;
	position:relative;
	text-align:justify;
	width:100%;
}
.contentBookTab div{
	background:white;
	display:none;
	height:auto;
	float:left;
	clear:both;
	left:0px;
	margin:0px;
	padding:0px;
	position:static;
	top:0px;
	width:100%;
}
.selectBookTabs{
	float:left;
	margin:5px;
}